.header {
  display: flex;
  background-color: #ffffff;
  align-items: baseline;
  justify-content: space-between;
}
.header-logo {
  font-family: "Raleway";
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo__text-part {
  color: #2196F3;
}

.nav {
  display: flex;
  gap: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav li {
  width: 75px;
  display: flex;
  justify-content: center;
}
.nav__link:hover {
  color: #2196F3;
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-wrap: nowrap;
  text-align: center;
}

.contact {
  display: flex;
  gap: 30px;
}
.contact-item {
  display: flex;
  gap: 10px;
}
.contact-item:hover {
  color: #2196F3;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contact {
    flex-wrap: wrap;
    gap: 10px;
    width: 140px;
  }
  .header {
    align-items: center;
  }
  .nav__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.footer {
  background-color: #2F303A;
}
.footer__form-title {
  margin: 0px 0px 20px 0px;
}
.footer__join-title {
  text-align: center;
  margin-top: 0px;
}
.footer__form-wrapper {
  display: flex;
  width: 570px;
  height: 86px;
  margin-left: 83px;
  flex-wrap: wrap;
}
.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: transparent;
}
.footer-input::-moz-placeholder {
  padding-left: 16px;
}
.footer-input::placeholder {
  padding-left: 16px;
}
.footer__btn-follow {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: 0px;
  width: 200px;
  border-radius: 4px;
  padding: 10px 28px 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__wrapper {
  padding-top: 50px;
  display: flex;
}
.footer-logo__text-part {
  color: #2196F3;
}
.footer__logo {
  font-family: "Raleway";
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer__text-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2205px;
}
.footer__contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 136px;
  height: 21px;
  left: 215px;
  top: 2235px;
  text-decoration: none;
}
.footer__contact-info {
  padding-bottom: 60px;
}
.footer__svg {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  margin-left: 10px;
}
.footer__svg-logo {
  color: #ffffff;
}
.footer__form {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer {
    height: 463px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__contact-info {
    text-align: center;
    padding-bottom: 30px;
  }
  .footer__form-wrapper {
    justify-content: center;
  }
  .footer__form {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }
}
.hero {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/photo/background.png);
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  padding-top: 200px;
  padding-bottom: 30px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
}
.hero__wrap-btn {
  display: flex;
  justify-content: center;
}
.hero__button {
  border: 0px;
  margin-top: 30px;
  margin-bottom: 200px;
  width: 152px;
  height: 30px;
  left: 724px;
  top: 440px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  z-index: 1000;
  transform: translate(-50%, -50%);
  animation-name: modal-open;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.modal__label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  display: inline-block;
  width: 448px;
}
.modal__title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #212121;
  margin-top: 2px;
  margin-bottom: 12px;
}
.modal__wrapper {
  width: 528px;
  height: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal__form-wrapper {
  width: 448px;
  height: 342px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal__input {
  width: 403px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  position: relative;
  padding-left: 42px;
  margin-top: 6px;
}
.modal__input:focus {
  outline: none;
  border-color: #2196F3;
}
.modal__label:nth-of-type(1) svg {
  top: 104px;
}
.modal__label:nth-of-type(2) svg {
  top: 175px;
}
.modal__textarea {
  width: 429px;
  height: 115px;
  resize: none;
  padding-left: 16px;
  padding-top: 5px;
}
.modal__button-submit {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 52px 10px 52px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  margin-top: 20px;
  background-color: #2196F3;
}
.modal__button-submit:hover {
  background-color: #188CE8;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
.modal__textarea::-moz-placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5019607843);
  display: inline-block;
  padding-top: 12px;
  padding-left: 0px;
}
.modal__textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5019607843);
  display: inline-block;
  padding-top: 12px;
  padding-left: 0px;
}
.modal__close-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 8px;
  margin-right: 8px;
}
.modal__label:nth-of-type(3) svg {
  top: 246px;
}
.modal__label:focus-within svg {
  color: #2196F3;
}
.modal__terms-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.modal__terms-check {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}
.modal__terms-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #2196F3;
}

.back-drop .modal.show {
  transform: translate(-50%, -50%);
  opacity: 1;
}

@keyframes modal-open {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
.btn-close {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close:hover {
  color: #2196F3;
}

.form__icon {
  position: absolute;
  left: 53px;
  z-index: 1;
  color: #212121;
}

.is-hidden {
  display: none;
  pointer-events: none;
}

.back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
  .modal__input {
    width: 370px;
  }
  .modal__label {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
  }
  .modal__title {
    display: block;
    width: 370px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-bottom: 0px;
  }
  .modal__wrapper {
    width: 100%;
    height: 370px;
  }
  .modal__label:nth-of-type(1) svg {
    top: 145px;
  }
  .modal__label:nth-of-type(2) svg {
    top: 217px;
  }
  .modal__label:nth-of-type(3) svg {
    top: 289px;
  }
}
.adv {
  padding-top: 94px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.adv__grid-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 50px;
  left: 215px;
  top: 800px;
}
.adv__grid-details::before {
  content: url(/photo/antenna.png);
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.adv__grid-punctuality::before {
  content: url(/photo/clock.png);
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.adv__grid-planning::before {
  content: url(/photo/diagram.png);
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.adv__grid-tech::before {
  content: url(/photo/astronaut.png);
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.adv__title {
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .adv {
    flex-wrap: wrap;
    padding-top: 60px;
  }
  .adv__grid {
    flex-basis: calc((100% - 60px) / 2);
    flex: 1;
  }
  .adv__grid-text {
    width: 354px;
    height: 50px;
  }
  .adv__grid-details::before {
    width: 354px;
    height: 120px;
  }
  .adv__grid-punctuality::before {
    width: 354px;
    height: 120px;
  }
  .adv__grid-planning::before {
    width: 354px;
    height: 120px;
  }
  .adv__grid-tech::before {
    width: 354px;
    height: 120px;
  }
}
.clients__title, .team__title, .about__title {
  padding-top: 94px;
  padding-bottom: 50px;
  left: 617px;
  top: 966px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.about-photo__text, .footer__form-title, .footer__join-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

.about__title-wrapper {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
.about-photo__list {
  padding-inline-start: 0px;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}
.about-photo__overlay {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -74px;
}
.clients__title, .team__title, .about__title {
  padding-top: 94px;
  padding-bottom: 50px;
  left: 617px;
  top: 966px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.footer__form-title, .footer__join-title, .about-photo__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #F5F4FA;
}
.team__title-wrapper {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
.team__list {
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
  margin: 0px;
}
.team__member-item {
  background-color: #ffffff;
  width: 270px;
  height: 428px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-end-end-radius: 3px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team__member-photo {
  height: 260px;
  width: 270px;
}
.team__member-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 0px;
}
.team__member-job {
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .team__list {
    flex-wrap: wrap;
  }
  .team__member-item {
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    height: 536px;
  }
  .team__member-photo {
    width: 354px;
    height: 374px;
  }
}
.clients__title, .about__title, .team__title {
  padding-top: 94px;
  padding-bottom: 50px;
  left: 617px;
  top: 966px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.footer__form-title, .footer__join-title, .about-photo__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #ffffff;
}

.clients {
  width: 170px;
  height: 92px;
}
.clients__list {
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
}
.clients:hover {
  animation-name: customer-anim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes customer-anim {
  from {
    scale: 1;
    color: #AFB1B8;
  }
  to {
    scale: 1.1;
    color: #2196F3;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .clients__list {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .clients__list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients {
    width: 226px;
    height: 120px;
  }
  .clients__title {
    padding-top: 60px;
    margin-top: 0px;
    padding-bottom: 15px;
  }
}
.nav-button {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.nav-button__item:hover {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
.nav-button__item {
  border: 0px;
  height: 38px;
  left: 593px;
  top: 174px;
  background: #F5F4FA;
  border-radius: 4px;
  width: 100px;
  height: 35px;
  left: 615px;
  top: 180px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 44px;
}

@keyframes overlay-portfolio {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.scase {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
  margin-top: 50px;
}
.scase__title {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  display: flex;
  padding-left: 24px;
}
.scase__category {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  padding-left: 24px;
}
.scase__overlay-inner {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.8980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.scase__item {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
  position: relative;
}
.scase__item:hover {
  box-shadow: 2px 6px 8px 0px rgba(0, 0, 0, 0.1607843137);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0588235294);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
}
.scase__item-overlay:hover .scase__overlay-inner {
  animation-name: overlay-portfolio;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.scase__item-overlay {
  position: absolute;
  overflow: hidden;
  width: 370px;
  height: 294px;
  top: 41.75%;
  left: 50%;
  transform: translate(-50%, -58.25%);
}
.scase__overlay-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3%;
  color: #ffffff;
  width: 322px;
  height: 168px;
  pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .scase__item {
    flex-basis: calc((100% - 30px) / 2);
    width: 354px;
    height: 440px;
  }
  .scase__item img {
    width: 100%;
  }
  .scase__item-overlay {
    width: 354px;
    height: 281px;
    top: 39%;
    transform: translate(-50%, -61%);
  }
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.svg-decor {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-decor:hover {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: svg-anim;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes svg-anim {
  from {
    scale: 1;
    background-color: transparent;
  }
  to {
    background-color: #2196F3;
    scale: 1.1;
    color: #ffffff;
  }
}
@keyframes svg-anim-l {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
    color: #ffffff;
  }
}
.svg-decor:hover .svg-logo {
  animation-name: svg-anim-l;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.svg-logo {
  color: #AFB1B8;
  fill: transparent;
}

.svg-box {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 24px;
}

.page-home .nav__link[href="index.html"]::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  margin-top: 28px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  animation: appear 0.5s ease forwards;
}

.page-home .nav__link[href="index.html"] {
  color: #2196F3;
}

.page-portfolio .nav__link[href="portfolio.html"] {
  color: #2196F3;
}

.page-portfolio .nav__link[href="portfolio.html"]::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  margin-top: 28px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  animation: appear 0.5s ease forwards;
}

.a {
  text-decoration: none;
  color: #212121;
}

@keyframes appear {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 48px;
    opacity: 1;
  }
}
body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 738px;
  }
  .svg-box {
    width: 210px;
  }
}/*# sourceMappingURL=style.css.map */