@import "../utils/placeholder";
@import "../utils/variables";

.about
{
    &__title-wrapper
    {
        display: flex;
        justify-content: center;
        align-content: stretch;
    }

    &__title
    {
        
        @extend %title;

    }


    &-photo__list
    {
        padding-inline-start: 0px;
        padding-bottom: 94px;
        display: flex;
        gap: 30px;
    }

    &-photo__overlay
    {
        background: #2F303ACC;
        width: 370px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -74px;
    }


    &-photo__text
    {
    
        @extend %info-title;

    }
    
}
