@import "../utils/variables";
@import "../utils/mixins";

.adv
{
    padding-top: 94px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    &__grid-text
    {
        @include text-block(14px, 24px, $info-text-color);
        width: 270px;
        height: 50px;
        left: 215px;
        top: 800px;
    }

    &__grid-details::before
    {
        content:url(/photo/antenna.png);
        width: 270px;
        height: 120px;
        background-color: $light-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    &__grid-punctuality::before
    {
        content:url(/photo/clock.png);
        width: 270px;
        height: 120px;
        background-color:$light-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__grid-planning::before
    {
        content:url(/photo/diagram.png);
        width: 270px;
        height: 120px;
        background-color: $light-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &__grid-tech::before
    {
        content:url(/photo/astronaut.png);
        width: 270px;
        height: 120px;
        background-color: $light-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title
    {

        width: 270px;
        height: 16px;
        left: 215px;
        top: 774px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-text-color;
    }
}


@media (min-width: 768px) and (max-width: 1200px)
{ 
    .adv
    {
        flex-wrap: wrap;
        padding-top: 60px;
    }

    .adv__grid
    {
        flex-basis: calc((100% - 60px) / 2 );
        flex: 1;
    }

    .adv__grid-text
    {
        width: 354px;
        height: 50px;
    }

    .adv__grid-details::before
    {
        width: 354px;
        height: 120px;
    }

    .adv__grid-punctuality::before
    {
        width: 354px;
        height: 120px;
    }
    .adv__grid-planning::before
    {
        width: 354px;
        height: 120px;
    }
    .adv__grid-tech::before
    {
        width: 354px;
        height: 120px;
    }
}


@media (max-width: 768px)
{ 
    .adv
    {
        flex-wrap: wrap;
        padding-top: 60px;
        justify-content: center;
    }

    .adv__grid-text
    {
        width: 450px;
        height: 50px;
    }

    .adv__grid-details::before
    {
        width: 450px;
        height: 120px;
    }

    .adv__grid-punctuality::before
    {
        width: 450px;
        height: 120px;
    }
    .adv__grid-planning::before
    {
        width: 450px;
        height: 120px;
    }
    .adv__grid-tech::before
    {
        width: 450px;
        height: 120px;
    }
}
