@import "../utils/variables";
@import "../utils/placeholder";

.clients
{
    width: 170px;
    height: 92px; 

    &__title
    {
        @extend %title;
    }


    &__list
    {
        display: flex;
        gap: 30px;
        margin-bottom: 94px;
    }

    &:hover
    {
        animation-name: customer-anim;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

}


@keyframes customer-anim 
{
    from 
    {
      scale: 1;    
      color: $decor-svg-color;
    }

    to 
    {
      scale: 1.1;
      color: $decor-color;
    }
}

@media (min-width: 768px) and (max-width: 1200px)
{ 
    .clients__list
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .clients__list-item
    {
        flex-basis: calc((100% - 60px) / 3 );

    }

    .clients
    {
        width: 226px;
        height: 120px;
    }

    .clients__title
    {
        padding-top: 60px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
}



@media (max-width: 768px)
{ 
    .clients__list
    {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
        gap: 30px;
    }

    .clients__list-item
    {
        flex-basis: calc((100% - 30px) / 2 );
    }

    .clients
    {
        width: 100%;
        height: 120px;
    }


    .clients__title
    {
        padding-top: 60px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
}
