@import "../utils/variables";
@import "../utils/placeholder";

.team
{
    background-color: $light-bg-color;

    &__title-wrapper
    {
        display: flex;
        justify-content: center;
        align-content: stretch;
    }

    &__title
    {
    
        @extend %title;
        
    }

    &__list
    {
        padding-bottom: 94px;
        display: flex;
        gap: 30px;
        margin: 0px;
        
    }

    &__member-item
    {
        background-color: $light-text-color;
        width: 270px;
        height: 428px;
        box-shadow: 0px 2px 1px 0px #00000033;

        box-shadow: 0px 1px 1px 0px #00000024;

        box-shadow: 0px 1px 3px 0px #0000001F;

        border-end-end-radius: 3px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    &__member-photo
    {
        height: 260px;
        width: 270px;
    }


    &__member-name
    {
        
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-text-color;
        margin-bottom: 0px;
    
    }

    &__member-job
    {
        margin-top: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $info-text-color;

    }


}

@media (min-width: 768px) and (max-width: 1200px)
{ 
    .team__list
    {
        flex-wrap: wrap;
    }

    .team__member-item
    {
        flex-basis: calc((100% - 60px) / 2 );
        width: 354px;
        height: 536px;
        
    }

    .team__member-photo
    {
        width: 354px;
        height: 374px;

    }
}


@media (max-width: 768px)
{ 
    .team__list
    {
        flex-wrap: wrap;
    }

    .team__member-item
    {
        width: 450px;
        height: 622px;
        
    }

    .team__member-photo
    {
        width: 450px;
        height: 460px;

    }
}
