@import "./variables";
@import "./mixins";

.footer
{

    background-color: $dark-bg-color;

        &__form-title
    {
        @extend %info-title;
        margin: 0px 0px 20px 0px;
    }

    &__join-title
    {
        @extend %info-title;
        text-align: center;
        margin-top: 0px;
    }


    &__form-wrapper
    {
        display: flex;
        width: 570px;
        height: 86px;
        margin-left: 83px;
        flex-wrap: wrap;
    }

    &-input
    {
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border-width: 1px;
        box-shadow: 0px 4px 4px 0px #00000026;
        border: 1px solid #FFFFFF4D;
        background-color: transparent;
    }

    &-input::placeholder
    {
        padding-left: 16px;
    }

    &__btn-follow
    {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 6%;
        color: $light-text-color;
        background-color: $decor-color;
        box-shadow: 0px 4px 4px 0px #00000026;
        border: 0px;
        width: 200px;
        
        border-radius: 4px;
        padding: 10px 28px 10px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__wrapper
    {
        padding-top: 50px;
        display: flex;
    }

    &-logo__text-part
    {
        color: $decor-color;
    }

    &__logo
    {
        font-family: "Raleway";
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: $light-text-color;
        text-decoration: none;
    }

    &__text-addres 
    {
        @include footer-text($light-text-color);
        width: 231px;
        height: 21px;
        left: 215px;
        top: 2205px;
    }

    &__contact-link 
    {
        @include footer-text($meta-text-color);
        width: 136px;
        height: 21px;
        left: 215px;
        top: 2235px;
        text-decoration: none;
    }
    
    &__contact-info
    {
        padding-bottom: 60px;
    }

    &__svg
    {
        width: 44px; 
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF1A;
        border-radius: 50%; 
        margin-left: 10px;
    }

    &__svg-logo
    {
        color: $light-text-color;
    }

    &__form
    {
        display: flex;
        gap: 12px;
    }

}


@media (min-width: 768px) and (max-width: 1200px)
{ 
    .footer
    {
        height: 463px;
        display: flex;
        justify-content: center;
    }

    .footer__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__contact-info
    {
        text-align: center;
        padding-bottom: 30px;
    }

    .footer__form-wrapper
    {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .footer__form
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px)
{ 
    .footer__wrapper
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer
    {
        height: 630px;
    }

    .footer__contact-info
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-bottom: 60px;
        width: 300px;
    }

    .footer__form-wrapper
    {
        justify-content: center;
        margin-left: 0px;
    }

    .footer__form
    {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 60px;
    }

    .footer__join-info
    {
        margin-bottom: 60px;
    }
 
}

