
$decor-color: #2196F3;
$light-text-color: #ffffff;
$dark-bg-color:#2F303A;
$light-bg-color:#F5F4FA;
$main-text-color: #212121;
$info-text-color: #757575;
$decor-svg-color: #AFB1B8;
$meta-text-color: #ffffff99;

